# Application
SECRET_KEY= # Must be at least 32 characters

# Database
DB_URL= # DB Url
DB_PASSWORD= # DB password
DB_USERNAME= # DB username

# Redis
REDIS_HOST= # Redis host
REDIS_PASSWORD= # Redis password
REDIS_PORT= # Redis port. Default 6379

# Google
GOOGLE_CLIENT_ID= # Get at console.cloud.google
GOOGLE_CLIENT_SECRET= # Get at console.cloud.google

# Mail
MAIL_USERNAME= # Create an app password and paste username here
MAIL_PASSWORD= # Create an app password and paste passowrd here